html, body {
    width: 100%;
    height: 100%;
     margin: 0;
     font-family: 'Roboto Mono', monospace;

    
}

  input{
    
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 40px;
  border: 1.2px solid white;
  border-radius: 31px;
  
  color: white;

  background: rgba(0,0,0,0);

 
 }
 ::placeholder{
     color: white;
 }
 .button {
     display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid rgba(220,220,220,1);
    border-radius: 32px;
    color:rgba(0,0,0,0);
    background: rgba(1,153,217,0);
    box-shadow: 0 3px #888;
   

    
 }
 .button:active{
    transform: translateY(4px) !important;
    box-shadow: 0 3px #777 !important;
    
 }
 input:focus{
    outline: none;
}
.info {
    height: 40vh;
}
  