body{
    background-image: radial-gradient(circle, #71e2ff, #4cd1fe, #26befd, #06abfa, #2196f3);
    font-family: 'Righteous', cursive;
  
  }
    .container{
      max-width: 400px;
    }
    input[type=text],
    input[type=text]:focus{
      color: #fff;
      border: none;
      background: rgba(0,0,0,0.2);
      max-width: 400px;
    }
    .todos li{
      background: rgba(187, 222, 251, 0.3);
    }
    .delete{
      cursor: pointer;
    }
    